/*.color1 { #e46424 };
.color2 { #dc9c7c };
.color3 { #045c9c };
.color4 { #6a95b8 };
.color5 { #7fa5bd };*/
*{
    text-decoration: none;
    margin: 0;
}
footer{
    background-color: #045c9c;
    min-height: 200px;
    color: #fff;
    border-top: 3px solid gray;
}

main{
    padding-right: 5px;
    padding-left: 5px;
    background-color: rgba(127, 165, 189,0.3);
}
header{
    background-color: rgba(228, 100, 36,0.5);
    border-bottom: 3px solid gray;
}

.linhaBorda{
    margin: 5px;
    padding: 5px;
    border: 1px solid lightgray
}


label{
    color: darkblue;
    font-weight: 600;
    padding: 0px 3px;
}
.corH1{
    color: darkblue;
    padding: 5px;
}
.centro{
    text-align: center;
}
.botao{
    border: 1px solid #045c9c;
    border-radius: 0px 7px 0px 7px;
    padding: 5px;
    background-color: #045c9c;
    color: #fff;
    font-weight: 400;
}
#linkPe{
    display: flex;
    justify-content: center;
    margin: 5px 15px;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 7px;
    background-color: #6a95b8;
    height: 50px;
}
.espaco{
    margin-right: 5px;
    max-height: 100%;
}
.botao:hover{
    border-radius: 7px 0px 7px 0px;
    background-color: transparent;
    color: #045c9c;
    
}
.imgLogo{
    display: flex;
    justify-content: start;
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 3px solid gray;
    margin: 5px 5px 5px none ;
    border-radius: 0 30px 30px 0;
    padding-right: 15px;
    background-color: rgba(127, 165, 189,0.8);
    width: 50px;

}
.imgLogo:hover{
    justify-content: center;
    width: 150px;

}
.separacao{
    padding-bottom: 5px;
   
}
.botaoPesquisa{
    border: 1px solid #e46424;
    border-radius: 0px 7px 0px 7px;
    background-color: #e46424;
    color: #fff;
    font-weight: 400;
    padding: 5px;
}
.botaoPesquisa:hover{
    background-color:  transparent;
    color: #e46424;
}
.classDiv{
    margin: 7px 10px;
    
}
.classDivB{
    margin: 5px 0px;
    
}
.classBody{
    margin: 0px 15px;
}
label, input, button, select{
    font-size: 18px;
}
legend{
    font-size: 22px;
    color: darkblue;
    font-weight: 600;
}
input[type="radio"]{
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #e46424;
    border-radius: 10px;
    width: 14px;
    height: 14px;
    margin: 0px 2px;
}
input[type="radio"]:checked{
    background-color: #e46424;
    border-color: white;
}
input, select{
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid  darkgray;
    color: darkblue;
    font-size: 16px;
    padding: 1px;
}
input:disabled{
    background-color: lightgray;
}
input[type="text"]:focus  {
    zoom: 1.1;
    border-radius: 3px;
}
input[type="number"]:focus{
    zoom: 1.1;
    border-radius: 3px;
}
input[type="password"]:focus{
    zoom: 1.1;
    border-radius: 3px;
}
::placeholder{
    color: gray;
}